@model CreateUserViewModel

@{
    ViewData["Title"] = "Nouvel utlisateur";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<a asp-action="Index" class="btn btn-sm btn-danger">Retour à la liste</a>

<div class="card shadow mt-2">
    <form asp-action="Create" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="FirstName" class="form-control" required />
                        <label asp-for="FirstName" class="required form-label"></label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="LastName" class="form-control" required />
                        <label asp-for="LastName" class="required form-label"></label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <input asp-for="UserName" class="form-control" required />
                        <label asp-for="UserName" class="required form-label"></label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <input type="email" asp-for="Email" class="form-control" required />
                        <label asp-for="Email" class="required form-label"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Password" class="form-control" required />
                        <label asp-for="Password" class="required form-label"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="PasswordConfirm" class="form-control" required />
                        <label asp-for="PasswordConfirm" class="required form-label"></label>
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <select asp-for="RoleId" class="form-control" asp-items="Model.Roles" required>
                            <option selected disabled value="">-- Veuilez sélectionner --</option>
                        </select>
                        <label asp-for="RoleId" class="required form-label"></label>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3 form-check">
                        <input asp-for="EmailConfirmed" class="form-check-input">
                        <label asp-for="EmailConfirmed" class="form-check-label"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                Valider
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @*@Html.Partial("_ValidationScriptsPartial");*@
    <partial name="_ValidationScriptsPartial" />
}